HEAD
/node_modules/
/.nuxt/
/.output/
/dist
# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case of keep-going makefiles.
.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore mix.lock if you want to avoid checking it in.
# mix.lock

# Ignore Elixir LS
.elixir_ls/

# IDE and OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
00446561adb6a2f47fc1fe917c2e32ec1e6243dc
